

#tabla{
    margin: auto;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 2em;
    border-radius: 1em;
    width: 80%;
    background-color: #666;
}

#titulo{
    text-align: center;
    font-size: 2em;
    color: #fdfdfd;
}

table{
    margin: auto;
    width: 100%;
}

#cabeza{
    color: #fdfdfd;
}

#cuerpo{
    background-color: #eee;
    text-align: center;
}